  @import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
/* button{
  background-color: #974FD0;
  color: white;
  border: #974FD0;
  border-radius: 4px;
}
input::placeholder{
  color: black;
} */

.mission{
  font-family: 'Signika Negative', sans-serif;
}
.to-tasks{
  background-color: #974fd0;
  border-radius: 5px;
  border: none;
  color: white;
  width: 13rem;
  font-size: large;
}